$this: '.about_project-surface';

#{$this} {
    background: center / contain no-repeat url("../../images/surfaceflow.jpg");
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: cover;
    min-height: 700px;
    justify-content: center;

    & .header {
        width: 50%;
        color: #fff;

        & .text {
            font-size: 96px;
            text-shadow: 4px 4px 8px rgba(0,0,0,0.69);
        }
    }

    & .description {
        width: 50%;
        color: #fff;
        text-shadow: 4px 4px 8px rgba(0,0,0,0.69);
    }

    & .text_container {
        flex-direction: row;
        display: flex;
        align-items: center;
    }

    & .gopractice_container {
        background-color: #fff;
        width: 754px;
        border-radius: 10px;
        margin: 30px auto 60px;
    }
}