$this: '.footer';

#{$this} {
    background-color: #023866;
    padding-top: 20px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
    box-shadow: 0px -5px 4px rgb(0 0 0 / 20%);

    & a {
        text-decoration: none;
    }

    & a:hover {
        color: #73738D;
    }
    
    &_container {
        display: flex;
        padding: 0px 65px 37px;
    }

    &_logo {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;

        &-name {
            font-size: 36px;
            font-weight: 700;
            color: #ffffff;
            text-shadow: 4px 4px 8px rgba(0,0,0,0.69);
        }

        &-img {
            margin-right: 15px;
        }
    }

    &_description {
        color: #ffffff;
        text-align: start;
    }

    &_nav {
        &-links {
            flex-direction: column;
            margin-top: 20px;
            align-items: flex-start;
            margin-left: 40px;
        }

        &-header {
            font-size: 18px;
            font-weight: 700;
            color: #ffffff;
            margin-bottom: 15px;
            text-shadow: 4px 4px 8px rgba(0,0,0,0.69);
        }

        &-link {
            text-decoration: none;
            font-size: 14px;
            color: #ffffff;
            margin-bottom: 7px;
        }

        &-contact {
            margin-bottom: 7px;
        }
    }
}